.container_nao_encontrada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.container_nao_encontrada h1 {
  font-size: 4.5rem;
}

.container_nao_encontrada p a {
  font-size: 1.5rem;
  text-decoration: underline;
}
