.main {
  height: 100%;
  width: 75%;

  margin-left: 2.75rem;
  margin-top: 1.25rem;
  padding: 1.125rem 3rem;
}

@media (max-width: 767px) {
  .main {
    width: 85%;
    margin-inline: auto;
  }
}

.comentario {
  padding: 1.5rem;
  border: 1px solid var(--cinza);
}

.usuario {
  max-height: 100%;
  border-radius: 50%;
}

.informacoes_usuario {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.informacoes_usuario .usuario {
  height: 5rem;
}

.informacoes_duvida {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.725rem;

  padding: 0 0 0 5.25rem;

  text-align: initial;
}

.informacoes_duvida h2 {
  text-wrap: balance;
  font-size: 2.5rem;
}

.informacoes_duvida p {
  font-size: 1.125rem;
}

.informacoes_duvida .botao_responder {
  border: none;
  background-color: transparent;

  font-weight: 700;
  font-size: 1.125rem;
  color: var(--cor-secundaria);
}
