.footer {
  background-color: #222;
  color: white;
  padding: 1em;

  text-align: center;

  margin-top: 10rem;

  position: sticky;
  top: 100%;
  z-index: 10;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 2rem;
  margin: 0.3rem 0;
}

.list svg {
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.1s;
}

.list svg:hover {
  color: #ffbb33;
}

.insta {
  text-decoration: none;
  color: white;
  margin: 10rem 0;
  padding: 0;
  transition: ease-in all 0.1s;
}

.insta:hover {
  color: var(--cor-primaria);
}

.copyright span {
  font-weight: bold;
}

.item a {
  color: #fff;
}
