.input {
  --cor-texto: rgb(170, 170, 170);

  padding: 0.8rem;
  border-radius: 0.45rem;
  min-width: 25rem;
  font-size: 1.25rem;
  border: none;

  color: var(--cor-texto);
}

.input::placeholder {
  color: var(--cor-texto);
}

.input.email,
.input[type="password"],
.input.id_mecanico {
  background-color: var(--cor-fundo-escuro);
}

.input.apelido {
  --cor-texto: white;
  background-color: var(--cinza);
}

.apelido::placeholder,
.apelido::-webkit-input-placeholder {
  color: white;

  font-weight: 600;
  opacity: 0.75;
}
