.nav_bar {
  --tamanho-navbar: 5.75rem;

  height: var(--tamanho-navbar);

  position: sticky;
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 1rem 0;
  background-color: var(--cor-fundo);
  border-bottom: 1px solid var(--cor-borda);
}

@media (max-width: 767px) {
  .nav_bar {
    align-items: center;
    justify-content: flex-start;
  }

  .links a {
    display: none;
  }
}

.menu {
  height: 100%;
  scale: 3;

  margin: 0 3.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_esquerda {
  display: flex;
  flex-direction: row;

  flex-grow: 2;
  align-items: center;
  justify-content: start;
}

.menu_barra {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--cinza) !important;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 0 1.5rem;
}

a:has(img) {
  height: 100%;
}

a img {
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.nav_menu {
  background-color: var(--cor-fundo);

  padding: 2.5rem 1.75rem;

  height: 100dvh;
  width: 20rem;

  font-size: 0.75rem;

  border-right: 1px solid var(--cor-borda);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  z-index: 10;

  transition: 850ms;
}

.nav_menu:has(a:focus) {
  transform: translateX(0%);
  transition: 350ms;
}

.nav_menu.ativo {
  transform: translateX(0%);
  transition: 350ms;
}

@media (prefers-reduced-motion) {
  .nav_menu {
    transition: 0s;
  }

  .nav_menu.ativo {
    transition: 0s;
  }
}

.nav_menu h1 {
  font-size: 1.75rem;

  margin: 1.25rem 0;
}

.fechar_sidebar {
  --largura: 2rem;
  --posicao: 1rem;

  position: absolute;
  top: var(--posicao);
  left: var(--posicao);

  height: var(--largura);
  width: var(--largura);
}

.fechar_sidebar svg {
  color: #000 !important;

  height: 100%;
  width: 100%;
}

.nav_menu_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  width: 100%;

  padding: 1.75rem 0;
  margin: 0.5rem 0;

  list-style: none;

  border-top: 2px solid var(--cinza);
  border-bottom: 2px solid var(--cinza);
}

.nav_menu_items a {
  text-decoration: none;
  color: #000;

  padding: 0 0.5rem;
  margin: 0.35rem 0;

  font-size: 1.5rem;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.35rem;
}

.nav_menu_items a:hover {
  background-color: var(--cinza);
  color: black;
}

.nav_menu_items li {
  padding: 0 0.5rem;
}

.nav_menu_items svg {
  color: var(--cinza-escuro);
}

.navbar_toggle {
  background-color: red;

  width: 100%;
  height: 4.5rem;

  display: flex;
  justify-content: start;
  align-items: center;
}

a > span {
  margin: 0 1.4rem;
}
