:root {
  font-family: "Open Sans", Inter, system-ui, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --fonte-titulo: "Open Sans";
  --fonte-destaque: "Roboto";

  /* Tamanhos de fontes */
  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;

  --cor-texto: #000;

  --cor-primaria: #098ac1;
  --cor-secundaria: #dd812b;
  --cor-terciaria: #ff0000;
  --cor-erro: #dd2e44;

  --cor-fundo: #fff;
  --cor-fundo-escuro: #d9d9d9;

  --cinza: #737373;
  --cinza-escuro: #292f33;

  --cor-borda: var(--cinza);

  --borda-suave: 0.525rem;
  --borda-media: 1.125rem;
  --borda-forte: 1.725rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-borda: var(--cinza-escuro);

    --cor-texto: #000;

    --cor-primaria: #055577;
    --cor-secundaria: #b96b23;
    --cor-terciaria: #830000;
    --cor-erro: #b30018;

    --cor-fundo: #dbdbdb;
    --cor-fundo-escuro: #858585;
  }

}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  position: relative;

  background-color: var(--cor-fundo);
  color: var(--cor-texto);

  font-size: var(--fs-400);

  scroll-behavior: smooth;
}

/* título da página */
h1 {
  position: relative;

  font-family: "Lato", sans-serif;
  font-weight: 800;

}

/* subtítulo da página */
h1::after {
  content: "";
  font-family: "Lato", sans-serif;
  font-size: small;
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: ease-in all 0.1s;
}

a:focus,
a:hover {
  color: var(--cor-primaria);
}

button:hover,
button:focus {
  cursor: pointer;
}

img {
  max-height: 100%;
  max-width: 100%;
}

/* para elementos que precisam de títulos e descrições acessíveis, essa classe funciona para "esconder" o texto,
mas ainda irá aparecer leitores de tela */
.acessibilidade {
  position:absolute;
  left:-9999px;
  width:100px;
  height:auto;
  overflow:hidden;
}