.comentario {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  padding: 1rem 2.5rem;
  min-height: 12.5rem;

  border-bottom: 1px solid var(--cor-borda);
}

.comentario a {
  padding-block: .725rem;

  display: flex;
  flex-direction: row;
  gap: .75rem;

  color: var(--cor-texto);
}

.comentario h3 {
  font-size: 1.75rem;
}

.comentario p {
  font-family: var(--fonte-destaque);

  color: var(--cinza);
}

.comentario .icone_usuario {
  width: 10%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.comentario .conteudo_comentario {
  padding: 10rem 0;

  display: flex;
  flex-direction: column;

  flex-grow: 3;
}

.comentario img {
  max-height: 50px;
  max-width: 50px;

  border-radius: 50%;
}
