.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.main form {
    margin-inline: auto;
}

.main div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.botao_enviar {
    border: none;
    border-radius: var(--borda-suave);
    background-color: var(--cor-secundaria);

    padding: 1.125rem 1.325rem;

    font-weight: 700;
    font-size: 1.5rem;
}

.main div:has(button) {
    margin-block: 1.15rem;
}

.main div:has(select) {
    margin-block: 1.15rem;

    display: flex;
    align-items: center;
}

.paragrafo_erro {
    color: var(--cor-erro);
    font-size: 1.5rem;
    font-weight: 700;
}