.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1.25rem;
}

.form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.enviar_usuario,
.enviar_mecanico {
  --margin-top: 1.5rem;

  background-color: transparent;
  color: var(--cor-preenchimento);

  margin-top: var(--margin-top);

  width: 8.5rem;
  aspect-ratio: 34 / 9;

  font-size: 1.25rem;
  font-weight: 700;

  border: none;
  border-radius: 2rem;

  transition: ease-in-out 100ms;
}

.enviar_usuario {
  --cor-preenchimento: var(--cor-primaria);
}

.enviar_mecanico {
  --cor-preenchimento: var(--cor-secundaria);
}

.enviar_usuario:hover,
.enviar_mecanico:hover,
.enviar_mecanico:hover,
.enviar_mecanico:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0 0 0 / 0.29);
}

#senha_status {
  font-weight: 700;
  font-size: 1.125rem;

  color: var(--cor-erro);

  margin: .525rem 0;
}