:root {
  font-family: "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;

  --fonte-titulo: "Open Sans";
  --fonte-destaque: "Roboto";

  color-scheme: light dark;

  --cor-primaria: #098ac1;
  --cor-primaria-escura: #055577;
  --cor-secundaria: #dd812b;
  --cor-terciaria: #ff0000;
  --cor-fundo: #fff;
  --cor-fundo-escura: #d9d9d9;
  --cor-erro: #dd2e44;
  --cinza: #737373;
  --cinza-escuro: #292f33;
  --cor-borda: var(--cinza);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border-style: border-box;
}

html,
body,
#root {
  height: 100%;
}

#root {
  position: relative;
}

/* título da página */
h1 {
  font-family: "Lato", sans-serif;
  font-weight: 800;
}

/* subtítulo da página */
h1::after {
  content: "";
  font-family: "Lato", sans-serif;
  font-size: small;
  font-weight: 400;
}

a {
  text-decoration: none;
  transition: ease-in all 0.1s;
}

a:focus,
a:hover {
  color: var(--cor-primaria-escura);
}

button:hover,
button:focus {
  cursor: pointer;
}
